body{
    margin: 0;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: salmon;
}

.container{
    background-color: lightpink;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
}

.textarea{
    width: 100%;
    resize: none;
    border-radius: 5px;
    height: 130px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    color: gray;
    margin: 10px 0;
    border: 2px solid darkgray;
}

.textarea::placeholder{
    color: lightgray;
}

.counter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.counter-container p{
    font-size: 18px;
    color: gray;
}

.total-counter{
    color: slateblue;
}

.remaining-counter{
    color: red;
}